<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/joinForm" method="post">
		아이디 : <input type="text" name="Userid"><br>
		비밀번호 : <input type="password" name="password"><br>
		이름 : <input type="text" name="name"><br>
		이메일 : <input type="email" name="email"><br>
		휴대번호 : <input type="text" name="hand_phone"><br>
		<input type="hidden" name="useyn" value="Y">
		<button type="submit">회원가입</button>
	</form>
	<a href="/login">로그인하러가기</a>
</body>
</html>